.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 428px;
  background-color: #1e293b;
  border: 2px solid;
  border-radius: 18px;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 390px;
  width: 280px;
}
.frame-19 {
  width: 280px;
  height: 280px;
  border-radius: 12px;
  position: relative;
}
.frame-19-img {
  width: 100%;
  height: 100%;
}
.frame-19-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.logo {
  width: 28px;
  height: 28px;
  top: 12px;
  left: 238px;
  position: absolute;
}
.ui-logo {
  border-radius: 4px;
}

.frame-26 {
  width: 280px;
  height: 84px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.frame-273 {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.frame-200 {
  width: 100%;
  height: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frame-200-head {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.45px;
  color: #f8fafc;
}
.frame-200-title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.45px;
  color: #f1f5f9;
  width: 100%;
  height: 16px;
}

.frame-216 {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  gap: 10px;
}

.frame-28 {
  width: 235px;
  height: 24px;
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 4px;
}

.frame-28-alu {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #cbd5e1;
  width: 70px;
  height: 24px;
  font-family: "Poppins", sans-serif;
}

.frame-28-IIT {
  color: #f8fafc;
  width: 161px;
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.IIT-Logo {
  position: absolute;
  right: 0;
  width: 36px;
  height: 40px;
  object-fit: cover;
}

.IIT-Logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
