.new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.head {
  width: 898px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.head h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #1e293b;
  margin: 0;
}

.head h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  margin: 0;
}

.frame83 {
  width: 1240px;
  max-width: 1240px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  opacity: 1;
  margin: 60px auto 0 auto;
  padding-bottom: 75px;
}

.frame81 {
  width: 100%;
  max-width: 1240px;
  height: 280px;
  display: flex;
  gap: 0px;
  opacity: 1;
  gap: 60px;
}

.frame81-image {
  width: 400px;
  height: 280px;
  border-radius: 20px;
  object-fit: cover;
  opacity: 1;
}

.frame81-paragraph {
  width: 780px;
  height: 280px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #475569;
  opacity: 1;
}

.frame82 {
  width: 100%;
  max-width: 1240px;
  height: 280px;
  display: flex;
  gap: 60px;
  opacity: 1;
  justify-content: flex-end;
}

.frame82-paragraph {
  width: 780px;
  height: 256px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #475569;
  opacity: 1;
}

.frame82-image {
  width: 400px;
  height: 280px;
  border-radius: 20px 0px 0px 0px;
  object-fit: cover;
  opacity: 1;
}

.mobile-new {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.mobile-head {
  width: 90%;
  max-width: 898px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.mobile-head h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  line-height: 6vw;
  color: #1e293b;
  margin: 0;
  text-align: center;
}

.mobile-head h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 4vw;
  color: #94a3b8;
  margin: 0;
  text-align: center;
}

.mobile-frame83 {
  width: 90%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 60px auto 0 auto;
  padding-bottom: 75px;
}

.mobile-frame81,
.mobile-frame82 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile-frame81-image,
.mobile-frame82-image {
  width: 100%;
  max-width: 400px;
  height: 280px;
  border-radius: 20px;
  object-fit: cover;
}

.mobile-frame81-paragraph,
.mobile-frame82-paragraph {
  width: 100%;
  max-width: 780px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: justify;
  color: #475569;
}

@media (max-width: 1333px) {
  .mobile-new {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .mobile-head {
    width: 90%;
    max-width: 898px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }

  .mobile-head h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4vw;
    line-height: 6vw;
    color: #1e293b;
    margin: 0;
    text-align: center;
  }

  .mobile-head h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 4vw;
    color: #94a3b8;
    margin: 0;
    text-align: center;
  }

  .mobile-frame83 {
    width: 90%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 60px auto 0 auto;
    padding-bottom: 75px;
    justify-content: center; 
    align-items: center;
  }

  .mobile-frame81,
  .mobile-frame82 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    align-items: center; 
  }

  .mobile-frame81-image,
  .mobile-frame82-image {
    width: 100%;
    max-width: 600px;
    height: 325px;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-frame82-image {
    order: 1;
  }
  .mobile-frame82-paragraph {
    order: 2;
  }
  .mobile-frame81-paragraph,
  .mobile-frame82-paragraph {
    width: 100%;
    max-width: 780px;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: justify;
    text-align: center; 
    color: #475569;
  }
}

@media (max-width: 768px) {
  .mobile-head h1 {
    font-size: 6vw;
    line-height: 8vw;
  }

  .mobile-head h4 {
    font-size: 2vw;
    line-height: 5vw;
  }

  .mobile-frame81 {
    flex-direction: column-reverse;
  }
  .mobile-frame82 {
    flex-direction: column;
  }

  .mobile-frame81-image {
    order: 1;
  }
  .mobile-frame82-image {
    order: 1;
  }
  .mobile-frame81-image,
  .mobile-frame82-image {
    max-width: 100%;
    height: 400px;
  }
  .mobile-frame82-image {
    order: 1;
  }
  .mobile-frame82-paragraph {
    order: 2;
  }
  .mobile-frame81-paragraph,
  .mobile-frame82-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 480px) {
  .mobile-head h1 {
    font-size: 7vw;
    line-height: 9vw;
  }

  .mobile-head h4 {
    font-size: 3.5vw;
    line-height: 6vw;
  }

  .mobile-frame83 {
    gap: 20px;
  }

  .mobile-frame81 {
    flex-direction: column-reverse;
  }
  .mobile-frame82 {
    flex-direction: column;
  }

  .mobile-frame81-image,
  .mobile-frame82-image {
    max-width: 100%;
    height: auto;
  }
  .mobile-frame81-paragraph,
  .mobile-frame82-paragraph {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
